
<br>
<br>
<br>



        <!-- Header-->
        <header class="bg-warning py-3 ">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-tertiary mb-0">With this shop hompeage template</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class=" container px-4 px-lg-5 mt-5">
                <div  class="row  gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div *ngFor="let res of response | filter : searchkey :'title'     " class="col-3  mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img height="150px" class="card-img-top" [src]="res.image" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{res.title.slice(0,20)}}...</h5>
                                    <!-- Product price-->
                                    {{res.price}}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class=" d-flex justify-content-center align-items-center card-footer mb-3 border-top-0 ">
                                <div>
                                    <a routerLink="/products/view-product/{{res.id}}" class="text-light btn btn-primary mx-2 " ><i class="fa-solid fa-eye"></i></a>
                                </div>

                                <div class="" >
                                    <a (click)="cart(res)" class="text-light btn btn-success mx-2 " ><i class="fa-solid fa-cart-arrow-down"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-3"></div>
                    
                </div>
            </div>
        </section>

